<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zhaoweihao.hnuplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 腾讯定位SDK所需要的权限 -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BmobIMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="YBYBZ-HFJRF-WVPJC-JK4ID-DRF57-CTFJ2" />
        <!-- TODO 集成：1.3、配置Bmob平台的应用密钥 -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="06f45f723f43d1b79d4c56798abff251" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".CommentActivity" />
        <activity
            android:name=".SigninActivity"
            android:theme="@style/Theme.AppTheme.TranslucentStatusBar" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".NoteActivity" />
        <activity android:name=".NoteEditActivity" />
        <activity android:name=".TranslateActivity" />
        <activity android:name=".ChatActivity" />

        <!-- TODO 集成：1.5、配置IM SDK需要的广播和服务 -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <activity android:name=".BuyActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".MyOrderActivity" />
        <activity android:name=".GetOrderActivity" />
        <activity android:name=".PersonalActivity"></activity>
    </application>

</manifest>